*.swp
target
.project
.settings
.classpath
scripts/*.pyc
scripts/*.fbs
scripts/dsfb
scripts/segment_pb2.py
scripts/speedtile_pb2.py
scripts/tile_pb2.py
scripts/Entry.py
scripts/Histogram.py
scripts/Segment.py
scripts/VehicleType.py
